@model MiCocina_WebAPI.Models.USUARIO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>USUARIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContraseñaUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContraseñaUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagenUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagenUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdUsuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
