@model IEnumerable<MiCocina_WebAPI.Models.USUARIO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorreoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContraseñaUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagenUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorreoUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContraseñaUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagenUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdUsuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdUsuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdUsuario })
        </td>
    </tr>
}

</table>
